@import './utils.scss';
@import './reset.scss';

:root {
    @include mobile{ 
        font-size: 8px;
    }
}

h1 { 
    font-size: 3.8rem;
    line-height: 140%;
    font-weight: 600;
 }

header {
    margin: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop{
        nav {
            .menu {
                display: none;
            }
            ul { 
                display: flex;
                a {
                    color: $default_color;
                    font-size: 1.8rem;
                    padding: 25px;
                    font-weight: 600;
                    &:hover {
                        color: $main_color;
                    }
                    transition: color 0.2s;
                }
                .nav__selected {
                    color: $main_color;
                }
            }
        }
    }

    @include mobile{
        nav {
            li {
                margin: 16px;
                a {
                    color: $default_color;
                    font-size: 3.0rem;
                    font-weight: 600;
                    padding-left: 32px;
                }
            }
            
            .nav__selected {
                color: $main_color;
            }
        }
        .menu_list {
            position: absolute;
            top: 0vh;
            left: 0px;
            transition: 0.5s;
            width: 100vw;
            height: 100vh;
            background-color: white;
            padding-top: 25vh;
        }
        .hide {
            transform: translateX(100vw);
            visibility: hidden;
        }
    }

   
    .logo {
        padding: 2.5rem;
        &__block{
            display:flex;
            &--name {
                font-size: 2.4rem;
                font-weight: 600;
                padding-left: 12px;
            }
        }
    }

}
  
  


.btn2{
    @include btn(20px, 32px);

    .icon {
        @include icon(3px, 24px);
        
        &:before{
            @include icon-before(3px, 24px, -10px);
        }
        
        &:after{
            @include icon-after(3px, 24px, 10px);
        }
    }

    &.open {
        .icon {
            transition-duration: 0.5s;
            background: transparent;
        
        &:before{
            transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
        }

        &:after{
            transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.5px);
        }
        }
    }
    &:hover {
        cursor: pointer;
    }
}
  