@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

@layer base {
  html {
    font-family:
      "Wanted Sans Variable",
      "Wanted Sans",
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      "Segoe UI",
      "Apple SD Gothic Neo",
      "Noto Sans KR",
      "Malgun Gothic",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }
}

/* 
html {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

/* 기본: 닫힘 상태 */
.collapsible .when-open {
  display: none;
}

/* 열림 상태 */
.collapsible[open] .when-closed {
  display: none;
}
.collapsible[open] .when-open {
  display: inline;
}

/*
body {
  min-height: 100vh;
  margin: 0;
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}
*/
.btn2 {
  width: 24px;
  height: 24px;
  top: 16px;
  right: 32px;
  transition-duration: 0.5s;
  position: absolute;
  z-index: 100;
}

.btn2 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 24px;
  top: 30px;
  background-color: #000000; /* Replace with your $default_color value */
}

.btn2 .icon:before,
.btn2 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: #000000; /* Replace with your $default_color value */
  content: "";
}

.btn2 .icon:before {
  top: -10px;
}

.btn2 .icon:after {
  top: 10px;
}

.btn2.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}

.btn2.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}

.btn2.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6.5px, -6.5px);
}

.btn2:hover {
  cursor: pointer;
}
