@import './utils.scss';

.footer__wrapper {
    // 하단고정용
    height: $footer_height;
    position: relative;
    transform: translateY(-100%);
    //
}

footer {
    margin: 4rem;
    @include desktop {
        padding: 0rem 3rem;
    }
    border-top: 1px solid #BBBDC7;

    .footer--name {
        color: $main_color;
    }

    .footer--content {
        @include desktop {
            display: flex;
            justify-content: space-between;
            &__list {
                width: 400px;
                margin-right: 40px;
            }
        }
        
        
        &__list {
            @include desktop {
                margin-right: 40px;
            }
            flex-shrink: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            
            a {
                font-size: 2.1rem;
                font-weight: 700;
            }

        }

        &__copyright {
            @include mobile {
                display: block;
                margin-top: 36px;
            }
            flex-shrink: 0;
            font-size: 1.4rem;
            color: gray;
        }
    }
}