@import './utils.scss';
@import './reset.scss';
@import './_header.scss';
@import './_footer.scss';

:root {
    @include mobile{ 
        font-size: 8px;
    }
}

.title { 
    font-size: 3.8rem;
    line-height: 140%;
    font-weight: 600;
    margin: 2.5rem 0rem;
 }

p {
    font-size: 1.6rem;
    line-height: 160%;
}



.home {
    max-width: 870px;
    @include desktop {
        
        padding-top: 100px;
        margin: auto;
        &__title {
            display: flex;
        }
        p {
            padding: 0px 16px;
        }
    }
    @include mobile {

        padding-top: 86px;
        margin: 32px;
        &__title--img {
            width: 100%;
            margin: 0px;
            img {
                display: block;
                width: 100%;
                max-width: 320px;
                margin: auto;
            }
        }
        
    }
}

.home__info {
    
    @include desktop {
        padding: 0px 16px;
        display: flex;
        flex: 1;
        justify-content: space-between;

        &--news {
            flex-grow: 1;
            flex-basis: 0;
            margin-right: 20px;
        }
        &--proj {
            flex-grow: 1;
            flex-basis: 0;
            margin-left: 20px;
        }
    }
    .infoContents {

        padding: 2rem 0px;
        border-top: 1px solid #D2D2D2;

        &__date {
            font-size: 1.8rem;
            color: #898989;
            font-weight: 700;
        }
        &__title {
            font-size: 2.8rem;
            font-weight: 600;
            margin-top: 1.4rem;
            margin-bottom: 1rem;
        }
        &__text {
            font-size: 1.4rem;
            line-height: 160%;
        }
    }
}