@import './utils.scss';
@import './reset.scss';
@import './_header.scss';
@import './_footer.scss';

:root {
    @include mobile{ 
        font-size: 8px;
    }
}

.title { 
    font-size: 3.8rem;
    line-height: 140%;
    font-weight: 600;
    margin: 2.5rem 0rem;
 }

p {
    font-size: 1.6rem;
    line-height: 160%;
}

a.link {
    text-decoration: underline;
}

hr.line {
    width: 100%;
    border-top: 1px solid #BBBDC7;
}

.home {
    max-width: 870px;

    @include wide {
        max-width: 1080px;
    }
    @include desktop {
        
        padding-top: 100px;
        margin: auto;
        &__title {
            display: flex;
        }
        p {
            padding: 0px 16px;
        }
    }
    @include mobile {

        padding-top: 86px;
        margin: 32px;
        &__title--img {
            width: 100%;
            margin: 0px;
            img {
                display: block;
                width: 100%;
                max-width: 320px;
                margin: auto;
            }
        }
        
    }
}

.home__info {
    .info__title {
        margin-top: 40px;
        color: #CDC7F5;
    }
    @include desktop {
        padding: 0px 16px;
        display: flex;
        flex: 1;
        justify-content: space-between;

        &--news {
            flex-grow: 1;
            flex-basis: 0;
            margin-right: 20px;
        }
        &--proj {
            flex-grow: 1;
            flex-basis: 0;
            margin-left: 20px;
        }
    }
    .infoContents {

        padding: 0.8rem 0px;
        border-top: 1px solid #D2D2D2;
        display: flex;

        &__date {
            font-size: 1.6rem;
            color: #898989;
            font-weight: 700;
            width: 100px;
            flex-shrink: 0;
        }
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 0;
        }
        &__text {
            font-size: 1.6rem;
            line-height: 160%;
            @include mobile {
                font-size: 1.6rem;
            }
        }
    }
}

.projects {
    @include desktop {
        
        padding-top: 98px;
        margin: 0px 44px;
    }
    @include mobile {

        padding-top: 86px;
        // margin: 32px;
    }
}

.publications {
    @include desktop {
        
        padding-top: 98px;
        margin: 0px 44px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include mobile {

        padding-top: 86px;
        // margin: 32px;
        display: flex;
        flex-direction: column;
        
    }

    &__wrapper {
        max-width: 870px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        margin: 24px 32px;
    }

    &__title {
        font-size: 2rem;
        padding: 0.4rem 0rem ;
    }
    &__authors {
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0.4rem 0rem ;
    }
    &__venue {
        font-size: 1.6rem;
        font-style: italic;
        padding: 0.4rem 0rem ;
    }
    &__highlight {
        color: $main_color;
        font-weight: 700;
    }
    &__links {
        display: flex;
        gap: 0.4rem;
        padding: 0.4rem 0rem;
        &--button{
            font-size: 1.4rem;
            padding: 0.4rem 0.8rem;
            border-radius: 4px;
            background-color: #eeeeee;

            &:hover {
                background-color: $main_color;
                color: white;
                transition: color 0.2s;
                transition: background-color 0.2s;
            }
        }
    }
    &__contents {
        display: flex;
        gap: 3.2rem;
        @include mobile {
            flex-direction: column;
            gap: 1.6rem;
        }
    }
    &__img {
        width: 240px;
        flex-grow: 1; 
        flex-shrink: 0;
        padding: 4px;
        border-radius: 4px;
        border: 1px #BBBDC7 solid;
        object-fit: cover;
        @include mobile {
            width: 100%;
        }
    }
}

.pj-wrapper {
    border-top: 1px solid #BBBDC7;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop {
        justify-content: center;
        padding: 80px 32px;
    }
    @include mobile {
        padding-bottom: 40px;
    }
    
    // margin: 44px;
}

.pj {

    max-width: 800px;
    @include wide {
        max-width: 1100px;
    }
    padding-top: 16px;
    @include desktop {
        
        display: flex;
        &__title {
            flex: 1;
        }
        &__desc {
            flex: 1;
            margin-left: 32px;
        }
    }
    @include mobile {
        padding-left: 32px;
    }
    &__title {
        &--name {
            position: relative;
            font-size: 3.6rem;
            font-weight: 700;
            padding-bottom: 1.8rem;
            z-index: -1;
            .icon {
                width: 2.1rem;
                height: 2.1rem;
                border-radius: 100%;
                @include mobile {
                    display: block;
                    margin-bottom: 16px;
                }
                @include desktop {
                    position: absolute;
                    left: -50px;
                    top: 9px;
                }
            }
        }
        &--tag {
            font-size: 1.8rem;
            color: #898989;
            font-weight: 700;
            margin-bottom: 22px;
        }
    }
    &__desc {
        &--text {
            font-size: 2.1rem;
            font-weight: 400;
            padding-bottom: 3.0rem;
            line-height: 150%;
        }
        &--more {
            display: flex;
            align-items: center;
            font-size: 2.2rem;
            font-weight: 700;
            padding-bottom: 20px;
        }
    }
}

.pj-title-container {
    @include wide {
        width: 50%;
    }
    @include desktop {
        width: 60%;
    }
    @include mobile {
        padding: 48px 32px 0px 32px;
    }
}


.about {
    @include wide {
        max-width: 1500px;
        display: flex;
        padding-top: 100px;
        margin: auto;
        justify-content: space-between;
    }
    @include desktop {
        width: 90vw;
        max-width: 1500px;
        padding-top: 100px;
        margin: auto;
        display: flex;

        justify-content: space-between;
    }
    @include mobile {
        padding-top: 86px;
        margin: 32px;
        
    }

    &__profile {
        margin-right: 1.5rem;
        &--greetings {
            @include desktop {
                display: flex;
                align-items: center;
            }
            @include wide {
                display: flex;
                align-items: center;
            }
            

            img {
                height: auto;
                width: 150px;
                flex-shrink: 0;
                border-radius: 50%;
                border: 1px solid #D2D2D2;
                display: block;

                margin-right: 1.6rem;
            }
            
            h1 {
                font-size: 3.0rem;
                line-height: 140%;
                font-weight: 600;
            }
        }
        &--links {
            margin-top: 2rem;
            @include desktop {
                display: flex;
                flex-wrap: wrap;
            }
            @include wide {
                display: flex;
                flex-wrap: wrap;
            }
            &--link {
                display: inline-block;
                @include desktop {
                    display: flex;
                }
                @include wide {
                    display: flex;
                }
                margin-right: 1.2rem;
                margin-bottom: 1.6rem;
                img {
                    width: 2.3rem;
                    height: auto;
                    margin-right: 1rem;
                }
                font-size: 2.0rem;
                font-weight: 600;
                border: 1px solid #D2D2D2;
                padding: 0.8rem 2rem;
                border-radius: 3rem;
            }
        }
    }

    
    &__skill {

        article {
            @include mobile {
                border-top: 1px solid #d2d2d2;
                padding-top: 2rem;
            }
            margin-bottom: 4rem;
        }
        h2 {
            font-size: 2.4rem;
        }
        h3 {
            font-size: 1.8rem;
            margin-bottom: 0.8rem;
        }
        li {
            
            font-size: 1.6rem;
            @include mobile {
                font-size: 1.8rem;
            }
            line-height: 150%;
            margin-bottom: 0.8rem;
            span {
                background-color: #e9e9e9;
                padding: 3px 8px;
                border-radius: 12px;
                font-weight: 500;
            }
        }
        
    }
}