
html {
    // display: block;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

:root{
    font-size: 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    font-family: Pretendard, -apple-system, 
    BlinkMacSystemFont, system-ui, Roboto, 
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

ul { 
    list-style: none;
    padding-left: 0px;
}

a {
    color: $default_color;
    text-decoration: none;
}